<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Admin </title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    {% include 'header.html' %}
    <br>
    <br>
    <div class="p-md-3 text-center">
        <strong>Select Group</strong>
        <br>
        <form action="" method="post">
            {% for g in groups %}
            <input type="radio" disabled name="groupname" value="{{g}}" {% if groupname == g %} checked {% endif %}>
            <input style="margin-bottom: 4px;" class="btn btn-primary btn-sm" type="submit" name="groupname"
                value="{{g}}">
            {% endfor %}
        </form>
    </div>
    <hr>
    <div class="container">
        <div class= "row text-center">
            {% if selected %}
            <div class="col-sm ">
                <strong>Change Users</strong>
                <form action='' method="post">
                    <table>
                        {% for user in users: %}
                            <tr align="center">
                                <td><input type="checkbox" name={{user}} {% if selected[user] %} checked {% endif %}></td>
                                <td> &nbsp;{{user}} {% if mgrs[user][1] %} <span class="text-muted"> ({{mgrs[user][0]}})</span>
                                    {% endif %}</td>
                            </tr>
                        {% endfor %}
                        </table>
                        <input type="submit" name="submit" value="Save Users" class="btn btn-primary btn-sm" style="margin-top: 4px;">
                    </form>
            </div>
            <hr>
            {% endif %}
            {% if members %}
            <div class="col-sm">
                <strong>Change Managers</strong>
                <form action='' method="post">
                    <table>
                        {% for member in members: %}
                            <tr  align="center">
                                <td><input type="checkbox" name={{member}} {% if isOwner[member] %} disabled {% endif %}{% if isManager[member] %} checked {% endif %} name={{member}}></td>
                                <td>{{member}}</td>
                            </tr>
                        {% endfor %}
                        </table>
                        <input type="submit" name="submit" value="Save Managers" class="btn btn-primary btn-sm" style="margin-top: 4px;">
                    </form>
            </div>
            <hr>
            {% endif %}
            {% if isOwner %}
            <div class="col-sm">
                <strong>Change Owners</strong>
                <form action='' method="post">
                    <table>
                        {% for member in members: %}
                            <tr align="center">
                                <td><input type="checkbox" name={{member}} {% if isOwner[member] %} checked {% endif %} name={{member}}></td>
                                <td>{{member}}</td>
                            </tr>
                        {% endfor %}
                        </table>
                        <input type="submit" name="submit" value="Save Owners" class="btn btn-primary btn-sm" style="margin-top: 4px;">
                    </form>
            </div>
        </div>
    </div>
    <hr>
    {% endif %}
    {% if selected %}
    <div class="p-md-3 text-center">
        <form action="" method="post">
            <input type="submit" name="submit" value="Delete Group" class="btn btn-primary btn-sm" style="margin-top: 4px;">
        </form>
    </div>
    <hr>
    {% endif %}
    <div class="p-md-3 text-center">
        <strong>Change Admins</strong>
        <form action='' method="post" class="p-md-3 text-center">
            <table>
                {% for user in users: %}
                    {% if user != username %}
                    <tr>
                        <td><input type="checkbox" {% if isAdmin[user] %} checked {% endif %} name={{user}}></td>
                        <td> &nbsp;{{user}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </table>
                <input type="submit" name="submit" value="Change Admins" class="btn btn-primary btn-sm" style="margin-top: 4px;">
            </form>
    </div>
    <hr>
    <div class="p-md-3 text-center">
        <strong>Admins</strong>
        <form action='' method="post" class="p-md-3 text-center">
            <table >
                {% for admin in admins: %}
                    <tr>
                        <td>{{admin}}</td>
                    </tr>
                {% endfor %}
                </table>
            </form>
    </div>
    <hr>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>