<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Admin </title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    {% include 'header.html' %}
    <!-- Page Content -->
    <div class="p-5 container">
        <div class="p-4 text-center">
            <h1>Select Group</h1>
            <br>
            <form action="" method="post">
                {% for g in groups %}
                <input type="radio" disabled name="groupname" value="{{g}}" {% if groupname == g %} checked {% endif %}>
                <input style="margin-bottom: 4px;" class="btn btn-primary btn-sm" type="submit" name="groupname"
                    value="{{g}}">
                {% endfor %}
            </form>
        </div>
        <hr>
        {% if selected %}


        <div class="card-deck">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Change {{groupname}} Users</h5>
                </div>
                <div class="card-body">
                    <form action='' method="post">
                        <table class="table table-bordered" style="text-align: left;">
                            {% for user in users: %}
                            <tr>
                                <td><input type="checkbox" name={{user}} {% if selected[user] %} checked {% endif %}>
                                    &nbsp;{{user}}: {{fullNames[user]}} {% if mgrs[user][1] %} <span class="text-muted">
                                        ({{mgrs[user][0]}})</span>
                                    {% endif %}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <div class="text-center"> <input type="submit" name="submit" value="Save Users"
                                class="btn btn-primary btn-sm" style="margin-top: 4px;"></div>
                        <br>
                    </form>
                </div>
            </div>
            {% endif %}
            {% if members %}
            <div class="card">
                <div class="card-header text-center">
                    <h5>Change {{groupname}} Managers</h5>
                </div>
                <div class="card-body">
                    <form action='' method="post">
                        <table class="table table-bordered" style="text-align: left;">
                            {% for member in members: %}
                            <tr>
                                <td><input type="checkbox" name={{member}} {% if isGroupOwner[member] %} disabled
                                        {% endif %}{% if isManager[member] %} checked {% endif %} name={{member}}>
                                    {{member}}: {{fullNames[member]}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <div class="text-center"> <input type="submit" name="submit" value="Save Managers"
                                class="btn btn-primary btn-sm text-center" style="margin-top: 4px;"> </div>
                        <br>
                    </form>
                </div>
            </div>
            {% endif %}
            {% if isGroupOwner %}
            <div class="card">
                <div class="card-header text-center">
                    <h5>Change {{groupname}} Owners</h5>
                </div>
                <div class="card-body">
                    <form action='' method="post">
                        <table class="table table-bordered" style="text-align: left;">
                            {% for member in members: %}
                            <tr>
                                <td><input type="checkbox" name={{member}} {% if isGroupOwner[member] %} checked
                                        {% endif %} name={{member}}>
                                    {{member}}: {{fullNames[member]}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <div class="text-center"><input type="submit" name="submit" value="Save Owners"
                                class="btn btn-primary btn-sm text-center" style="margin-top: 4px;"></div>
                        <br>
                    </form>
                </div>
            </div>
        </div>

        {% endif %}
        {% if selected %}
        <div class="text-center">
            <hr>
            <h4>Click to delete {{groupname}}</h4>
            <div class="text-center">
                <form action="" method="post">
                    <input type="submit" name="submit" value="Delete Group" class="btn btn-danger btn-sm"
                        style="margin-top: 4px;">
                </form>
            </div>
            <hr>
            {% endif %}
            <div class="p-3 text-center">
                <h4>Change Admins</h4>
                <form action='' method="post">
                    <table style="margin: auto;">
                        {% for user in users: %}
                        {% if user != username %}
                        <tr>
                            <td><input type="checkbox" {% if isAdmin[user] %} checked {% endif %} name={{user}}></td>
                            <td> &nbsp;{{user}}: {{fullNames[user]}}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td><input type="checkbox" checked disabled name={{user}}></td>
                            <td> &nbsp;{{user}}: {{fullNames[user]}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                    <br>
                    <input type="submit" name="submit" value="Change Admins" class="btn btn-primary btn-sm"
                        style="margin-top: 4px;">
                </form>
            </div>
            <hr>
            <div class="p-3 text-center">
                <h4>Admins</h4>
                <form action='' method="post" class="p-md-3 text-center">
                    <table style="margin: auto;">
                        {% for admin in admins: %}
                        <tr>
                            <td>{{admin}}: {{fullNames[admin]}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
            <hr>
            <div class="p-3 text-center">
                <h4>Delete Users</h4>
                <form action="" method="post">
                    <table style="margin: auto;">
                        {% for user in users: %}
                        {% if user != username %}
                        <tr>
                            <td><input type="checkbox" name={{user}}></td>
                            <td>{{user}}: {{fullNames[user]}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                    <br>
                    <input type="submit" name="submit" value="Delete Users" class="btn btn-danger btn-sm"
                        style="margin-top: 4px;">
                </form>
            </div>
            {% if isOrigOwner %}
            <div class="container"
                style="position: fixed; bottom: 0; left: 20px; margin-bottom: 10px; width: 40%; z-index: 100;">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Delete User Failed!</strong><br> User cannot be deleted if they are original group owner.
                    <br>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>