<!-- The first time someone signs in, they'll be redirected to this page to input their Name and Email (mandatory), and optionally their 
global preferences and phone number-->
<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Create Profile </title>


    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<style>
    .allR {
        text-align: right;
    }

    .allC {
        text-align: center;
    }
</style>

<body class="bg-light body">
    {% include 'header.html' %}


    <!-- Page Content -->

    <div class=" p-md-3 container">
        <div class="col-md-8 order-md-1 mx-auto">
            <h1 class="display-4 font-weight-normal">First, Create Your Profile</h1>
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="col-md-8 order-md-1 mx-auto">
            <form action='' method="post">
                <h4 class="mb-3">User Information</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" name="fname" required value=''> </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" name="lname" required value=''>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" class="form-control" id="email" multiple name="email" value="">
                </div>

                <hr class="mb-4">
                <h4 class="mb-3">Global Preferences</h4>
                {% include 'scheduleElement.html' %}
                <div class='text-center'>
                    <input type="submit" name="submit" value="Save" class="btn btn-primary btn-sm">
                </div>
                <hr>
            </form>
        </div>

    </div>


    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>