<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Create Group </title>


    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="body">
    {% include 'header.html' %}
    <div class=" p-md-3 container">
        <div class="col-md-8 order-md-1 mx-auto">
            <h1 class="display-4 font-weight-normal">Create Group</h1>
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="col-md-8 order-md-1 mx-auto">
            <form action='' method="post">
                <h2>Group Info</h2>
                <hr>
                <div class="mb-3">
                    Group Name <br>
                    <input type="text" id="gName" name="gName" value="" required>
                </div>
                <hr>
                <h2>Group Members</h2>
                <hr>
                <table>
                    <tr>
                        <td>{{username}}: {{nameOfUser}}</td>
                        <td><input type="checkbox" checked disabled></td>
                    </tr>
                    {% for name in names: %}
                    <tr>
                        <td>{{name}}: {{fullNames[name]}}</td>
                        <td><input type="checkbox" name={{name}}></td>
                    </tr>
                    {% endfor %}
                </table>
                <hr>
                <input type="submit" value="Save" class="btn btn-primary">
            </form>



        </div>
    </div>
    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>