<!-- The first time someone signs in, they'll be redirected to this page to input their Name and Email (mandatory), and optionally their 
global preferences and phone number-->
<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Create Profile </title>


    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<style>
    .allR {
        text-align: right;
    }

    .allC {
        text-align: center;
    }
</style>

<body class="body>
    {% include 'header.html' %}


    <!-- Page Content -->
    <div class=" container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>First, Create Your Profile</h1>
            <hr>
            <h2>Information</h2>
            <hr>
            <form action='' method="post">
                <table style="
                        margin-left: auto;
                        margin-right: auto;">
                    <tr>
                        <td class="allR">Employee First Name</td>
                        <td><input type="text" name="fname" value='' required></td>
                    </tr>
                    <tr>
                        <td class="allR">Employee Last Name</td>
                        <td><input type="text" name="lname" value='' required></td>
                    </tr>
                    <tr>
                        <td class="allR">Employee Email</td>
                        <td><input type="email" multiple name="email" value=''></td>
                    </tr>
                </table>
                <hr>
                <hr>
                <h2>Time Preferences</h2>
                <hr>
                {% include 'scheduleElement.html' %}
                <hr>
                <input type="submit" value="Save">
            </form>
            <hr>

        </div>
    </div>

    </div>
    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>