<!--This is for people to put in their weekly preferences-->

<!-- Main page after logging in, shows an employee's schedule for the week/month-->
<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Edit Group Preferences</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="bg-light body">
    {% include 'header.html' %}

    <!-- Page Content -->
    <div class=" p-md-3 container">
        <div class="col-md-8 order-md-1 mx-auto">
            <h1 class="display-4 font-weight-normal">Edit {{groupname}} Group Preferences</h1>
            <hr>
        </div>
    </div>
    <div class="container">

        <div class="col-md-8 order-md-1 mx-auto">
            <h4 class="mb-3"> Edit Notification Preferences</h4>
            <p>Your notification preferences for <strong>{{groupname}}</strong>. <br> </p>
            <form action='' method="post">
                <table>
                    <tr>
                        <td>Receive Email Notifications</td>
                        <td><input type="checkbox" name="prefemail" {% if prevemailPref %} checked {% endif %}
                                value="on">
                        </td>
                    </tr>
                </table>
                <hr>
                <h4 class="mb-3">Edit Weekly Preferences</h4>
                <p>Your weekly preferences for <strong>{{groupname}}</strong>. <br>
                    Resets to your global preferences every Sunday after a new
                    schedule is released.<br>
                    (Your weekly preferences for each group are independent of each other.)<br>
                </p>
                {% include 'scheduleElement.html' %}
                <div class="mx-auto text-center"> <input type="submit" value="Save" class="btn btn-primary"></div>
            </form>

            <hr>

        </div>
    </div>
    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>