<!-- The first time someone signs in, they'll be redirected to this page to input their Name and Email (mandatory), and optionally their 
global preferences and phone number-->
<!DOCTYPE html>
<html lang='en'>

<head>
    <title> Edit Profile </title>
</head>
<style>
    .allR {
        text-align: right;
    }

    .allC {
        text-align: center;
    }
</style>

<body>
    {% include 'header.html' %}
    <h1>Edit Profile</h1>
    <hr>
    <h2>Edit Information</h2>
    <hr>
    <form action='' method="post">
        <table>
            <tr>
                <td class="allR">Employee First Name</td>
                <td><input type="text" name="fname"  required value={{prevfname}}></td>
            </tr>
            <tr>
                <td class="allR">Employee Last Name</td>
                <td><input type="text" name="lname"  required value={{prevlname}}></td>
            </tr>
            <tr>
                <td class="allR">Employee Email</td>
                <td><input type="email" multiple name="email" {% if prevemail: %} value={{prevemail}} {% else %}
                        value="" {% endif %}></td>
            </tr>
            <tr>
                <td class="allR">Employee Phone Number</td>
                <td><input type="tel" name="pnumber" {% if prevemail: %} value={{prevphoneNum}} {% else %} value=""
                        {% endif %}></td>
            </tr>
            <tr>
                <td class="allR">Receive Text Notifications</td>
                <td><input type="checkbox" name="preftext" {% if prevphonePref %} checked {% endif %} value="on"></td>
            </tr>
            <tr>
                <td class="allR">Receive Email Notifications</td>
                <td><input type="checkbox" name="prefemail" {% if prevemailPref %} checked {% endif %} value="on"></td>
            </tr>
        </table>
        <hr>
        <h2>Edit Time Preferences</h2>
        <hr>
        {% include 'scheduleElement.html' %}
        <hr>
        <input type="submit" value="Save">
    </form>
    <hr>
    {% include 'footer.html' %}
</body>

</html>