<!-- The first time someone signs in, they'll be redirected to this page to input their Name and Email (mandatory), and optionally their 
global preferences and phone number-->
<!DOCTYPE html>
<html lang='en'>

<head>
    <title> Edit Profile </title>
</head>
<style>
    .allR {
        text-align: right;
    }

    .allC {
        text-align: center;
    }
</style>

<body>
    {% include 'header.html' %}
    <h1>Edit Profile</h1>
    <hr>
    <h2>Edit Information</h2>
    <hr>
    <form action='primary' method='get'>
        <table>
            <tr>
                <td class="allR">Employee First Name</td>
                <td><input type="text" name="fname" value=''></td>
            </tr>
            <tr>
                <td class="allR">Employee Last Name</td>
                <td><input type="text" name="lname" value=''></td>
            </tr>
            <tr>
                <td class="allR">Employee Email</td>
                <td><input type="text" name="email" value=''></td>
            </tr>
            <tr>
                <td class="allR">Employee Phone Number</td>
                <td><input type="text" name="pnumber" value=''></td>
            </tr>
            <tr>
                <td class="allR">Prefer Text Notifications</td>
                <td><input type="checkbox" name="preftext" value=''></td>
            </tr>
            <tr>
                <td class="allR">Prefer Email Notifications</td>
                <td><input type="checkbox" name="prefemail" value=''></td>
            </tr>
        </table>
    </form>
    <hr>
    <h2>Edit Time Preferences</h2>
    <hr>
    <form action='primary' method='get'>
        <table>
            <tr>
                <td></td>
                <td>Sunday</td>
                <td>Monday</td>
                <td>Tuesday</td>
                <td>Wednesday</td>
                <td>Thursday</td>
                <td>Friday</td>
                <td>Saturday</td>
            </tr>
            <tr>
                <td class="allR">12:00 AM - 1:00 AM</td>
                <td class="allC"><input type="checkbox" name="12-1-0-0" value=''></td>
                <td class="allC"><input type="checkbox" name="12-1-0-1" value=''></td>
                <td class="allC"><input type="checkbox" name="12-1-0-2" value=''></td>
                <td class="allC"><input type="checkbox" name="12-1-0-3" value=''></td>
                <td class="allC"><input type="checkbox" name="12-1-0-4" value=''></td>
                <td class="allC"><input type="checkbox" name="12-1-0-5" value=''></td>
                <td class="allC"><input type="checkbox" name="12-1-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">1:00 AM - 2:00 AM</td>
                <td class="allC"><input type="checkbox" name="1-2-0-0" value=''></td>
                <td class="allC"><input type="checkbox" name="1-2-0-1" value=''></td>
                <td class="allC"><input type="checkbox" name="1-2-0-2" value=''></td>
                <td class="allC"><input type="checkbox" name="1-2-0-3" value=''></td>
                <td class="allC"><input type="checkbox" name="1-2-0-4" value=''></td>
                <td class="allC"><input type="checkbox" name="1-2-0-5" value=''></td>
                <td class="allC"><input type="checkbox" name="1-2-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">2:00 AM - 3:00 AM</td>
                <td class="allC"><input type="checkbox" name="2-3-0-0" value=''></td>
                <td class="allC"><input type="checkbox" name="2-3-0-1" value=''></td>
                <td class="allC"><input type="checkbox" name="2-3-0-2" value=''></td>
                <td class="allC"><input type="checkbox" name="2-3-0-3" value=''></td>
                <td class="allC"><input type="checkbox" name="2-3-0-4" value=''></td>
                <td class="allC"><input type="checkbox" name="2-3-0-5" value=''></td>
                <td class="allC"><input type="checkbox" name="2-3-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">3:00 AM - 4:00 AM</td>
                <td class="allC"><input type="checkbox" name="3-4-0-0" value=''></td>
                <td class="allC"><input type="checkbox" name="3-4-0-1" value=''></td>
                <td class="allC"><input type="checkbox" name="3-4-0-2" value=''></td>
                <td class="allC"><input type="checkbox" name="3-4-0-3" value=''></td>
                <td class="allC"><input type="checkbox" name="3-4-0-4" value=''></td>
                <td class="allC"><input type="checkbox" name="3-4-0-5" value=''></td>
                <td class="allC"><input type="checkbox" name="3-4-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">4:00 AM - 5:00 AM</td>
                <td class="allC"><input type="checkbox" name="4-5-0-0" value=''></td>
                <td class="allC"><input type="checkbox" name="4-5-0-1" value=''></td>
                <td class="allC"><input type="checkbox" name="4-5-0-2" value=''></td>
                <td class="allC"><input type="checkbox" name="4-5-0-3" value=''></td>
                <td class="allC"><input type="checkbox" name="4-5-0-4" value=''></td>
                <td class="allC"><input type="checkbox" name="4-5-0-5" value=''></td>
                <td class="allC"><input type="checkbox" name="4-5-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">5:00 AM - 6:00 AM</td>
                <td class="allC"><input type="checkbox" name="5-6-0-0" value=''></td>
                <td class="allC"><input type="checkbox" name="5-6-0-1" value=''></td>
                <td class="allC"><input type="checkbox" name="5-6-0-2" value=''></td>
                <td class="allC"><input type="checkbox" name="5-6-0-3" value=''></td>
                <td class="allC"><input type="checkbox" name="5-6-0-4" value=''></td>
                <td class="allC"><input type="checkbox" name="5-6-0-5" value=''></td>
                <td class="allC"><input type="checkbox" name="5-6-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">6:00 AM - 7:00 AM</td>
                <td class="allC"><input type="checkbox" name="6-7-0-0" value=''></td>
                <td class="allC"><input type="checkbox" name="6-7-0-1" value=''></td>
                <td class="allC"><input type="checkbox" name="6-7-0-2" value=''></td>
                <td class="allC"><input type="checkbox" name="6-7-0-3" value=''></td>
                <td class="allC"><input type="checkbox" name="6-7-0-4" value=''></td>
                <td class="allC"><input type="checkbox" name="6-7-0-5" value=''></td>
                <td class="allC"><input type="checkbox" name="6-7-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">7:00 PM - 8:00 AM</td>
                <td class="allC"><input type="checkbox" name="7-8-0-0" value=''></td>
                <td class="allC"><input type="checkbox" name="7-8-0-1" value=''></td>
                <td class="allC"><input type="checkbox" name="7-8-0-2" value=''></td>
                <td class="allC"><input type="checkbox" name="7-8-0-3" value=''></td>
                <td class="allC"><input type="checkbox" name="7-8-0-4" value=''></td>
                <td class="allC"><input type="checkbox" name="7-8-0-5" value=''></td>
                <td class="allC"><input type="checkbox" name="7-8-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">8:00 AM - 9:00 AM</td>
                <td class="allC"><input type="checkbox" name="8-9-0-0" value=''></td>
                <td class="allC"><input type="checkbox" name="8-9-0-1" value=''></td>
                <td class="allC"><input type="checkbox" name="8-9-0-2" value=''></td>
                <td class="allC"><input type="checkbox" name="8-9-0-3" value=''></td>
                <td class="allC"><input type="checkbox" name="8-9-0-4" value=''></td>
                <td class="allC"><input type="checkbox" name="8-9-0-5" value=''></td>
                <td class="allC"><input type="checkbox" name="8-9-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">9:00 AM - 10:00 AM</td>
                <td class="allC"><input type="checkbox" name="9-10-0-0" value=''></td>
                <td class="allC"><input type="checkbox" name="9-10-0-1" value=''></td>
                <td class="allC"><input type="checkbox" name="9-10-0-2" value=''></td>
                <td class="allC"><input type="checkbox" name="9-10-0-3" value=''></td>
                <td class="allC"><input type="checkbox" name="9-10-0-4" value=''></td>
                <td class="allC"><input type="checkbox" name="9-10-0-5" value=''></td>
                <td class="allC"><input type="checkbox" name="9-10-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">10:00 AM - 11:00 AM</td>
                <td class="allC"><input type="checkbox" name="10-11-0-0" value=''></td>
                <td class="allC"><input type="checkbox" name="10-11-0-1" value=''></td>
                <td class="allC"><input type="checkbox" name="10-11-0-2" value=''></td>
                <td class="allC"><input type="checkbox" name="10-11-0-3" value=''></td>
                <td class="allC"><input type="checkbox" name="10-11-0-4" value=''></td>
                <td class="allC"><input type="checkbox" name="10-11-0-5" value=''></td>
                <td class="allC"><input type="checkbox" name="10-11-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">11:00 AM - 12:00 PM</td>
                <td class="allC"><input type="checkbox" name="11-12-0-0" value=''></td>
                <td class="allC"><input type="checkbox" name="11-12-0-1" value=''></td>
                <td class="allC"><input type="checkbox" name="11-12-0-2" value=''></td>
                <td class="allC"><input type="checkbox" name="11-12-0-3" value=''></td>
                <td class="allC"><input type="checkbox" name="11-12-0-4" value=''></td>
                <td class="allC"><input type="checkbox" name="11-12-0-5" value=''></td>
                <td class="allC"><input type="checkbox" name="11-12-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">12:00 PM - 1:00 PM</td>
                <td class="allC"><input type="checkbox" name="12-1-1-0" value=''></td>
                <td class="allC"><input type="checkbox" name="12-1-1-1" value=''></td>
                <td class="allC"><input type="checkbox" name="12-1-1-2" value=''></td>
                <td class="allC"><input type="checkbox" name="12-1-1-3" value=''></td>
                <td class="allC"><input type="checkbox" name="12-1-1-4" value=''></td>
                <td class="allC"><input type="checkbox" name="12-1-1-5" value=''></td>
                <td class="allC"><input type="checkbox" name="12-1-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">1:00 PM - 2:00 PM</td>
                <td class="allC"><input type="checkbox" name="1-2-1-0" value=''></td>
                <td class="allC"><input type="checkbox" name="1-2-1-1" value=''></td>
                <td class="allC"><input type="checkbox" name="1-2-1-2" value=''></td>
                <td class="allC"><input type="checkbox" name="1-2-1-3" value=''></td>
                <td class="allC"><input type="checkbox" name="1-2-1-4" value=''></td>
                <td class="allC"><input type="checkbox" name="1-2-1-5" value=''></td>
                <td class="allC"><input type="checkbox" name="1-2-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">2:00 PM - 3:00 PM</td>
                <td class="allC"><input type="checkbox" name="2-3-1-0" value=''></td>
                <td class="allC"><input type="checkbox" name="2-3-1-1" value=''></td>
                <td class="allC"><input type="checkbox" name="2-3-1-2" value=''></td>
                <td class="allC"><input type="checkbox" name="2-3-1-3" value=''></td>
                <td class="allC"><input type="checkbox" name="2-3-1-4" value=''></td>
                <td class="allC"><input type="checkbox" name="2-3-1-5" value=''></td>
                <td class="allC"><input type="checkbox" name="2-3-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">3:00 PM - 4:00 PM</td>
                <td class="allC"><input type="checkbox" name="3-4-1-0" value=''></td>
                <td class="allC"><input type="checkbox" name="3-4-1-1" value=''></td>
                <td class="allC"><input type="checkbox" name="3-4-1-2" value=''></td>
                <td class="allC"><input type="checkbox" name="3-4-1-3" value=''></td>
                <td class="allC"><input type="checkbox" name="3-4-1-4" value=''></td>
                <td class="allC"><input type="checkbox" name="3-4-1-5" value=''></td>
                <td class="allC"><input type="checkbox" name="3-4-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">4:00 PM - 5:00 PM</td>
                <td class="allC"><input type="checkbox" name="4-5-1-0" value=''></td>
                <td class="allC"><input type="checkbox" name="4-5-1-1" value=''></td>
                <td class="allC"><input type="checkbox" name="4-5-1-2" value=''></td>
                <td class="allC"><input type="checkbox" name="4-5-1-3" value=''></td>
                <td class="allC"><input type="checkbox" name="4-5-1-4" value=''></td>
                <td class="allC"><input type="checkbox" name="4-5-1-5" value=''></td>
                <td class="allC"><input type="checkbox" name="4-5-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">5:00 PM - 6:00 PM</td>
                <td class="allC"><input type="checkbox" name="5-6-1-0" value=''></td>
                <td class="allC"><input type="checkbox" name="5-6-1-1" value=''></td>
                <td class="allC"><input type="checkbox" name="5-6-1-2" value=''></td>
                <td class="allC"><input type="checkbox" name="5-6-1-3" value=''></td>
                <td class="allC"><input type="checkbox" name="5-6-1-4" value=''></td>
                <td class="allC"><input type="checkbox" name="5-6-1-5" value=''></td>
                <td class="allC"><input type="checkbox" name="5-6-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">6:00 PM - 7:00 PM</td>
                <td class="allC"><input type="checkbox" name="6-7-1-0" value=''></td>
                <td class="allC"><input type="checkbox" name="6-7-1-1" value=''></td>
                <td class="allC"><input type="checkbox" name="6-7-1-2" value=''></td>
                <td class="allC"><input type="checkbox" name="6-7-1-3" value=''></td>
                <td class="allC"><input type="checkbox" name="6-7-1-4" value=''></td>
                <td class="allC"><input type="checkbox" name="6-7-1-5" value=''></td>
                <td class="allC"><input type="checkbox" name="6-7-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">7:00 PM - 8:00 PM</td>
                <td class="allC"><input type="checkbox" name="7-8-1-0" value=''></td>
                <td class="allC"><input type="checkbox" name="7-8-1-1" value=''></td>
                <td class="allC"><input type="checkbox" name="7-8-1-2" value=''></td>
                <td class="allC"><input type="checkbox" name="7-8-1-3" value=''></td>
                <td class="allC"><input type="checkbox" name="7-8-1-4" value=''></td>
                <td class="allC"><input type="checkbox" name="7-8-1-5" value=''></td>
                <td class="allC"><input type="checkbox" name="7-8-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">8:00 PM - 9:00 PM</td>
                <td class="allC"><input type="checkbox" name="8-9-1-0" value=''></td>
                <td class="allC"><input type="checkbox" name="8-9-1-1" value=''></td>
                <td class="allC"><input type="checkbox" name="8-9-1-2" value=''></td>
                <td class="allC"><input type="checkbox" name="8-9-1-3" value=''></td>
                <td class="allC"><input type="checkbox" name="8-9-1-4" value=''></td>
                <td class="allC"><input type="checkbox" name="8-9-1-5" value=''></td>
                <td class="allC"><input type="checkbox" name="8-9-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">9:00 PM - 10:00 PM</td>
                <td class="allC"><input type="checkbox" name="9-10-1-0" value=''></td>
                <td class="allC"><input type="checkbox" name="9-10-1-1" value=''></td>
                <td class="allC"><input type="checkbox" name="9-10-1-2" value=''></td>
                <td class="allC"><input type="checkbox" name="9-10-1-3" value=''></td>
                <td class="allC"><input type="checkbox" name="9-10-1-4" value=''></td>
                <td class="allC"><input type="checkbox" name="9-10-1-5" value=''></td>
                <td class="allC"><input type="checkbox" name="9-10-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">10:00 PM - 11:00 PM</td>
                <td class="allC"><input type="checkbox" name="10-11-1-0" value=''></td>
                <td class="allC"><input type="checkbox" name="10-11-1-1" value=''></td>
                <td class="allC"><input type="checkbox" name="10-11-1-2" value=''></td>
                <td class="allC"><input type="checkbox" name="10-11-1-3" value=''></td>
                <td class="allC"><input type="checkbox" name="10-11-1-4" value=''></td>
                <td class="allC"><input type="checkbox" name="10-11-1-5" value=''></td>
                <td class="allC"><input type="checkbox" name="10-11-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">11:00 PM - 12:00 PM</td>
                <td class="allC"><input type="checkbox" name="11-12-1-0" value=''></td>
                <td class="allC"><input type="checkbox" name="11-12-1-1" value=''></td>
                <td class="allC"><input type="checkbox" name="11-12-1-2" value=''></td>
                <td class="allC"><input type="checkbox" name="11-12-1-3" value=''></td>
                <td class="allC"><input type="checkbox" name="11-12-1-4" value=''></td>
                <td class="allC"><input type="checkbox" name="11-12-1-5" value=''></td>
                <td class="allC"><input type="checkbox" name="11-12-1-6" value=''></td>
            </tr>
        </table>
        <hr>
        <input type="submit" value="Save">
    </form>
    <hr>
    {% include 'footer.html' %}
</body>

</html>