<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Error </title>


    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="body">
    {% include 'header.html' %}
    <div class=" p-md-3">
        <div class="col-md-8 order-md-1 mx-auto">
            <h1 class="display-4 font-weight-normal">An error has occured</h1>
            <hr>
            If the error persists, please contact us at <a
                href=mailto:putimetables@gmail.com>putimetables@gmail.com</a>!
        </div>
    </div>
    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>