<!-- main landing page if we emplement login system. Would just have a large 'login here' button in the middle or something idk-->

<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TimeTables</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../favicon_io/site.webmanifest">
    <style>
        /* Small devices (tablets, 768px and up) */
        @media (max-width: 768px) {

            #welcomebanner {
                font-size: 2.5rem;
            }
        }

        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
        }
    </style>
</head>

<body class="body">

    {% include 'header.html' %}

    <!-- Page Content -->
    <div class="jumbotron">
        <div class="container">
            <h1 id="welcomebanner" class="display-3">Welcome to TimeTables!</h1>
        </div>
    </div>

    <div class="container">
        {% if numGroups > 0 %}
        <h2>Choose your group</h2>
        <p>The schedule and weekly preferences will display your information for this group.
            </br>
            You can come back here and switch groups at any time.</p>
        <form action="" method="post">
            {% for g in groups %}
            <input type="radio" disabled name="groupid" value="{{g[0]}}" {% if groupid == g[0] %} checked {% endif %}>
            <button style="margin-bottom: 4px;" class="btn btn-primary btn-sm" type="submit" name="groupid"
                value="{{g[0]}}">{{g[1]}}</button>
            <br>
            {% endfor %}
        </form>
        <hr>
        {% else %}
        {% if canCreate %}
        <form action="/createGroup">
            <input class="btn btn-primary" type="submit" value="Create Group" />
        </form>
        {% endif %}
        {% endif %}
    </div>
    <footer class="footer mx-auto py-3">
        <div class="container">
            <span class="text-muted">TimeTables, a COS 333 Project by Batya Stein,
                AJ Kawczynski, Kevin Zheng, Bates Brodie,
                and Dylan Snyder
            </span>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>



</html>