<!--This is for people to put in their weekly preferences-->

<!-- Main page after logging in, shows an employee's schedule for the week/month-->
<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Manage </title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="body">
    {% include 'header.html' %}

    <!-- Page Content -->
    <div class=" p-md-3">
        <div class="col-md-8 order-md-1 mx-auto">
            <h1 class="display-4 font-weight-normal">Manage {{groupname}} {% if notgroupintitle %} Group {% endif %}
            </h1>
            <hr>
        </div>
    </div>

    <div class="col-md-8 order-md-1 mx-auto">

        <div class="container">
            <h2 class="mb-3">Current Schedule</h2>
            <div class="container">
                <div class="card-deck mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4 class="my-0 font-weight-normal">This Week </h4>
                            <h5 class="font-weight-normal text-muted"> ({{thisWeekSpan}})</h5>
                        </div>
                        <div class="card-body">
                            {% if thisWeekSched %}
                            {% for shift in thisWeekSched %}
                            <strong>{{shift}}</strong>:
                            {% for netid in thisWeekSched[shift] %}
                            {{netid}}{% if loop.index < thisWeekSched[shift]|length %},{% endif %}
                            {% endfor %}
                            <br>
                            {% endfor %}
                            <form action="/editdraft">
                                <input class="btn btn-primary btn-sm" type="submit" name="submit" value="Edit This Week"
                                    style="margin-top: 4px;">
                            </form>
                            {% else %}
                            <p>No schedule has been generated for this week yet - go to generate schedule to create one!
                            </p>
                            {% endif %}

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header text-center">
                            <h4 class="my-0 font-weight-normal">Next Week </h4>
                            <h5 class="font-weight-normal text-muted"> ({{nextWeekSpan}})</h5>
                        </div>
                        <div class="card-body">
                            {% if nextWeekSched %}
                            {% for shift in nextWeekSched %}
                            <strong>{{shift}}</strong>:
                            {% for netid in nextWeekSched[shift] %}
                            {{netid}}{% if loop.index < nextWeekSched[shift]|length %},{% endif %}
                            {% endfor %}
                            <br>
                            {% endfor %}
                            <form action="/editdraft">
                                <input class="btn btn-primary btn-sm" type="submit" name="submit" value="Edit Next Week"
                                    style="margin-top: 4px;">
                            </form>
                            {% else %}
                            <p>No schedule has been generated for next week yet. Go to generate schedule to create one!
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <span id="shifts"></span>
            <h2 class="mb-3"> Current Shifts</h2>
            {% if shifts|length > 0 %}
            <p>Schedules for <strong>{{groupname}}</strong> will be generated using these shifts. <br>

                {% for i in shifts %}
            <form action='' method="post">
                <div class="row">
                    <div class="col">
                        <strong>Day: </strong>{{shifts[i][0]}}
                    </div>
                    <div class="col">
                        <strong>Start: </strong>{{shifts[i][1]}}
                    </div>
                    <div class="col">
                        <strong>End: </strong>{{shifts[i][2]}}
                    </div>
                    <div class="col">
                        <strong>Number of People: </strong>{{shifts[i][3]}}
                    </div>
                    <div class="col">
                        <button type="submit" name="submit" value="{{i}}" class="btn btn-danger btn-sm"
                            style="margin-bottom: 4px;">Remove</button><br>
                    </div>
                </div>
            </form>
            {% endfor %}
            {% else %}
            <p> No current shifts for <strong>{{groupname}}</strong></p>
            {% endif %}
            <hr>
            <!-- Modal -->
            {% if invalidshift %}
            <div class="container"
                style="position: fixed; bottom: 0; left: 20px; margin-bottom: 10px; width: 40%; z-index: 100;">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Invalid Shift Input</strong><br> Please input start and end times in the form "00:00 AM"
                    <br>
                </div>
            </div>
            {% endif %}
            <h2 class="mb-3"> Add a new shift </h2>
            <form action='' method="post">
                <table>
                    <tr>
                        <td>
                            <label for="day">Choose a day:</label>
                        </td>
                        <td>
                            <select name="day" id="day">
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="start">Choose start:</label>
                        </td>
                        <td>
                            <input type="time" id="start" name="start" step=3600 required>
                        </td>
                    </tr>
                    <tr>
                        <td> <label for="end">Choose end:</label>
                        </td>
                        <td>
                            <input type="time" id="end" name="end" step=3600 required>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 5px;">
                            <label for="npeople">Number of People: </label>
                        </td>
                        <td>
                            <input type="number" id="npeople" name="npeople" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" name="submit" value="Add" class="btn btn-primary btn-sm">
                        </td>
                    </tr>
                </table>
            </form>
            <hr>
            <span id="schedule"></span>
            <h2 class="mb-3">Create Schedule</h2>
            Generate schedule for shifts listed above, based on group members' weekly preferences. <br>
            Once the schedule is generated, it will display in the "Schedule Draft" section, where you can make manual
            edits to it. <br>
            <br>
            If the algorithm cannot generate a schedule based on the given shifts, a blank draft schedule will be
            created,
            and you'll be able to manually create the schedule instead. <br><br>
            (Note that the schedule will not be sent to users until you publish it.)
            <br>
            <form action="" method="post">
                <input type="submit" name="submit" value="Generate Schedule" class="btn btn-primary btn-sm"
                    style="margin-top: 10px;">
            </form>
            {% if generatenotif and errormsg %}
            <div class="container"
                style="position: fixed; bottom: 0; left: 20px; margin-bottom: 10px; width: 30%; z-index: 100;">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {% if draftsched is none %}
                    <strong>Warning:</strong><br> Make sure you've inputted at least one shift.
                    {% else %}
                    <strong>Warning:</strong><br> Our algorithm could not generate a schedule based on the given shifts
                    and available users. <br>
                    However, a blank draft schedule has been created for you to edit.
                    <br><br>
                    You can either edit the draft, or change your shifts and try running the algorithm again. <br>
                    Publish your schedule it once it's finalized!
                    {% endif %}
                </div>
            </div>
            {% elif generatenotif %}
            <div class="container"
                style="position: fixed; bottom: 0; left: 20px; margin-bottom: 10px; width: 30%; z-index: 100;">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>New Schedule Generated!</strong><br> Your new schedule is now displayed in Schedule Draft.
                    <br>
                    You can make edits to the draft as wanted. <br> Publish your schedule it once it's finalized!
                </div>
            </div>

            {% elif errormsg %}
            <div class="container"
                style="position: fixed; bottom: 0; left: 20px; margin-bottom: 10px; width: 40%; z-index: 100;">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Create New Schedule Failed!</strong><br> There was a database error, please contact an
                    admin. <br>
                </div>
            </div>
            {% endif %}
            <hr>
            {% if draftsched %}
            <h2 class="mb-3">Schedule Draft</h2>
            <!-- display draft schedule, edit or publish -->
            Current schedule draft: <br><br>
            {% for shift in draftsched %}
            <strong>{{shift}}</strong>:
            {% for netid in draftsched[shift] %}
            {{netid}}{% if loop.index < draftsched[shift]|length %},{% endif %}
            {% endfor %}
            <br>
            {% endfor %}
            <br>
            <form action="/editdraft">
                <input class="btn btn-primary btn-sm" type="submit" name="submit" value="Edit Draft"
                    style="margin-top: 4px;">
            </form>
            <br>
            <h5 class="mb-3">Publish Schedule</h5>
            Once you publish your schedule it will display in "Current Schedule" at the top of the page, and will be sent out to workers.
            <br><br>
            Note that all groupmembers' weekly preferences will reset to their global preferences once a schedule is
            published. <br> <br>
            <form action='' method="post">
                <input type="radio" name="week" value="next" checked> Publish schedule for <strong>next week </strong>
                ({{nextWeekSpan}})
                <span class="text-muted">recommended</span> <br>
                <input type="radio" name="week" value="this"> Publish schedule for <strong>this week </strong>
                ({{thisWeekSpan}})<br>

                <input type="submit" name="submit" value="Publish draft" class="btn btn-primary btn-sm"
                    style="margin-top: 4px;">
            </form>
            <hr>
            {% endif %}
            {% if publishnotif %}
            <div class="container"
                style="position: fixed; bottom: 0; left: 20px; margin-bottom: 10px; width: 30%; z-index: 100;">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>New Schedule Published!</strong><br> Your new schedule for {{week}} week is now displayed in
                    Current Schedule.
                </div>
            </div>
            {% endif %}

            <h2 class="mb-3">Edit Group Members</h2>
            <form action='' method="post">
                <table>
                    <tr>
                        <td><input type="checkbox" disabled checked></td>
                        <td> &nbsp;{{username}} {% if isOwner %} <span class="text-muted"> (owner)</span>
                            {% else %} <span class="text-muted"> (manager)</span>
                            {% endif %}</td>
                    </tr>
                    {% for user in users: %}
                    <tr>
                        <td><input type="checkbox" name={{user}} {% if mgrs[user][1] %} disabled {% endif %}
                                {% if selected[user] %} checked {% endif %}></td>
                        <td> &nbsp;{{user}}: {{fullNames[user]}} {% if mgrs[user][1] %} <span class="text-muted">
                                ({{mgrs[user][0]}})</span>
                            {% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>
                <input type="submit" name="submit" value="Save" class="btn btn-primary btn-sm" style="margin-top: 4px;">
            </form>
            <hr>
            <h2 class="mb-3">Delete</h2>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteGroupModal">
                Delete Group
            </button>

            <!-- Modal -->
            <div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog"
                aria-labelledby="deleteGroupModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteGroupModalLabel">Delete Group</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete {{groupname}}? <br>This cannot be undone.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            <form action="" method="post">
                                <input type="submit" name="submit" value="Delete" class="btn btn-danger">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <hr>
        </div>
    </div>
    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <script>
        $(document).ready(function () {
            if ($('[type="time"]').prop('type') != 'time') {
                $('[type="time"]').timepicker({
                    interval: 60,
                });
            }
        });
    </script>

</body>

</html>