<!-- User profile. Lists their global availability, email, phone number, and has also an 'edit profile' button-->
<!DOCTYPE html>
<html lang='en'>

<head>
    <title> Profile </title>

        <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<style>
    .allR {
        text-align: right;
    }

    .allC {
        text-align: center;
    }
</style>

<body>
    {% include 'header.html' %}

    <h1>Profile</h1>
    <form action="/editProfile">
        <input type="submit" value="Edit Profile" />
    </form>
    <hr>
    Hi, <strong>{{firstName}} {{lastName}}!</strong>
    <br>
    <br>
    <strong>Netid:</strong> {{netid}}
    <br>
    <strong>Email:</strong> {{email}}
    <br>
    <strong>Phone number:</strong> {{phoneNum}}
    <hr>
    <h2>Notification Preferences</h2>
    Phone notifications: {{phonePref}}
    <br>
    Email notifications: {{emailPref}}
    <hr>
    <h2>Global Schedule Preferences</h2>
    Global preferences are your default availability times for the semester
    (times you're free to work every week).
    If you have a one-off change in availability, like a doctors appointment,
    you can change your availability for the week in the non-reccuring preferences page,
    and it will not affect your global preferences.

    <!-- can you process json directly in html? -->
    {% include 'scheduleElement.html' %}
    <hr>
    {% include 'footer.html' %}
</body>

</html>