<!-- User profile. Lists their global availability, email, phone number, and has also an 'edit profile' button-->
<!DOCTYPE html>
<html lang='en'>
<head>
    <title> Profile </title>
</head>
<style>
    .allR {text-align: right;}
    .allC {text-align: center;}
</style>
<body>
{% include 'header.html' %} <br>

<h1>Profile</h1>

Hi, {{firstName}} {{lastName}}!
<br>
<br>
<strong>Netid:</strong> {{netid}}
<br>
<strong>Email:</strong> {{email}}
<br>
<strong>Phone number:</strong> {{phoneNum}}
<hr>
<h2>Notification Preferences</h2>
Phone notifications: {{phonePref}}
<br>
Email notifications: {{emailPref}}
<hr>
<h2>Global Schedule Preferences</h2>
Global preferences are your default availability times for the semester
(times you're free to work every week).
If you have a one-off change in availability, like a doctors appointment,
you can change your availability for the week in the non-reccuring preferences page,
and it will not affect your global preferences.

<!-- can you process json directly in html? -->
    <br><br>
    <table>
            <tr>
                <td></td>
                <td>Sunday</td>
                <td>Monday</td>
                <td>Tuesday</td>
                <td>Wednesday</td>
                <td>Thursday</td>
                <td>Friday</td>
                <td>Saturday</td>
            </tr>
            <tr>
                <td class="allR">12:00 AM - 1:00 AM</td>
                <td class="allC"><input disabled type="checkbox" name="12-1-0-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="12-1-0-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="12-1-0-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="12-1-0-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="12-1-0-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="12-1-0-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="12-1-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">1:00 AM - 2:00 AM</td>
                <td class="allC"><input disabled type="checkbox" name="1-2-0-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="1-2-0-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="1-2-0-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="1-2-0-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="1-2-0-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="1-2-0-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="1-2-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">2:00 AM - 3:00 AM</td>
                <td class="allC"><input disabled type="checkbox" name="2-3-0-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="2-3-0-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="2-3-0-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="2-3-0-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="2-3-0-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="2-3-0-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="2-3-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">3:00 AM - 4:00 AM</td>
                <td class="allC"><input disabled type="checkbox" name="3-4-0-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="3-4-0-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="3-4-0-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="3-4-0-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="3-4-0-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="3-4-0-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="3-4-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">4:00 AM - 5:00 AM</td>
                <td class="allC"><input disabled type="checkbox" name="4-5-0-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="4-5-0-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="4-5-0-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="4-5-0-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="4-5-0-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="4-5-0-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="4-5-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">5:00 AM - 6:00 AM</td>
                <td class="allC"><input disabled type="checkbox" name="5-6-0-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="5-6-0-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="5-6-0-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="5-6-0-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="5-6-0-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="5-6-0-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="5-6-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">6:00 AM - 7:00 AM</td>
                <td class="allC"><input disabled type="checkbox" name="6-7-0-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="6-7-0-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="6-7-0-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="6-7-0-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="6-7-0-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="6-7-0-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="6-7-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">7:00 PM - 8:00 AM</td>
                <td class="allC"><input disabled type="checkbox" name="7-8-0-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="7-8-0-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="7-8-0-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="7-8-0-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="7-8-0-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="7-8-0-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="7-8-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">8:00 AM - 9:00 AM</td>
                <td class="allC"><input disabled type="checkbox" name="8-9-0-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="8-9-0-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="8-9-0-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="8-9-0-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="8-9-0-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="8-9-0-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="8-9-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">9:00 AM - 10:00 AM</td>
                <td class="allC"><input disabled type="checkbox" name="9-10-0-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="9-10-0-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="9-10-0-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="9-10-0-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="9-10-0-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="9-10-0-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="9-10-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">10:00 AM - 11:00 AM</td>
                <td class="allC"><input disabled type="checkbox" name="10-11-0-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="10-11-0-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="10-11-0-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="10-11-0-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="10-11-0-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="10-11-0-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="10-11-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">11:00 AM - 12:00 PM</td>
                <td class="allC"><input disabled type="checkbox" name="11-12-0-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="11-12-0-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="11-12-0-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="11-12-0-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="11-12-0-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="11-12-0-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="11-12-0-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">12:00 PM - 1:00 PM</td>
                <td class="allC"><input disabled type="checkbox" name="12-1-1-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="12-1-1-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="12-1-1-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="12-1-1-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="12-1-1-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="12-1-1-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="12-1-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">1:00 PM - 2:00 PM</td>
                <td class="allC"><input disabled type="checkbox" name="1-2-1-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="1-2-1-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="1-2-1-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="1-2-1-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="1-2-1-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="1-2-1-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="1-2-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">2:00 PM - 3:00 PM</td>
                <td class="allC"><input disabled type="checkbox" name="2-3-1-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="2-3-1-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="2-3-1-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="2-3-1-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="2-3-1-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="2-3-1-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="2-3-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">3:00 PM - 4:00 PM</td>
                <td class="allC"><input disabled type="checkbox" name="3-4-1-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="3-4-1-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="3-4-1-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="3-4-1-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="3-4-1-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="3-4-1-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="3-4-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">4:00 PM - 5:00 PM</td>
                <td class="allC"><input disabled type="checkbox" name="4-5-1-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="4-5-1-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="4-5-1-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="4-5-1-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="4-5-1-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="4-5-1-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="4-5-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">5:00 PM - 6:00 PM</td>
                <td class="allC"><input disabled type="checkbox" name="5-6-1-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="5-6-1-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="5-6-1-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="5-6-1-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="5-6-1-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="5-6-1-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="5-6-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">6:00 PM - 7:00 PM</td>
                <td class="allC"><input disabled type="checkbox" name="6-7-1-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="6-7-1-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="6-7-1-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="6-7-1-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="6-7-1-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="6-7-1-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="6-7-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">7:00 PM - 8:00 PM</td>
                <td class="allC"><input disabled type="checkbox" name="7-8-1-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="7-8-1-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="7-8-1-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="7-8-1-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="7-8-1-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="7-8-1-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="7-8-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">8:00 PM - 9:00 PM</td>
                <td class="allC"><input disabled type="checkbox" name="8-9-1-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="8-9-1-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="8-9-1-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="8-9-1-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="8-9-1-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="8-9-1-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="8-9-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">9:00 PM - 10:00 PM</td>
                <td class="allC"><input disabled type="checkbox" name="9-10-1-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="9-10-1-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="9-10-1-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="9-10-1-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="9-10-1-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="9-10-1-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="9-10-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">10:00 PM - 11:00 PM</td>
                <td class="allC"><input disabled type="checkbox" name="10-11-1-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="10-11-1-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="10-11-1-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="10-11-1-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="10-11-1-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="10-11-1-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="10-11-1-6" value=''></td>
            </tr>
            <tr>
                <td class="allR">11:00 PM - 12:00 PM</td>
                <td class="allC"><input disabled type="checkbox" name="11-12-1-0" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="11-12-1-1" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="11-12-1-2" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="11-12-1-3" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="11-12-1-4" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="11-12-1-5" value=''></td>
                <td class="allC"><input disabled type="checkbox" name="11-12-1-6" value=''></td>
            </tr>
        </table>
    <hr>
    {% include 'footer.html' %}
</body>
</html>