<!-- Main page after logging in, shows an employee's schedule for the week/month-->
<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title> Schedule </title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    {% include 'header.html' %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <h1>{{groupname}} Schedule</h1><br>
                <p>Input your availability in your profile to get shifts assigned.<br>
                    To be scheduled, you must be available for the entirety of a shift.<br>
                    There are 3 shifts each day this week:
                <ul style="list-style-type: none">
                    <li> 8:00 am - 11:00 am</li>
                    <li> 11:00 am - 2:00 pm</li>
                    <li> 2:00 pm - 5:00 pm</li>
                </ul>
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                {% include 'scheduleElement.html' %}
            </div>
        </div>

    </div>
    <hr>
    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>