<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Create Group </title>


    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    {% include 'header.html' %}
    <div class="col-lg-12 text-center">
        <h1>Group Info</h1>
        <hr>
        <h1>{{gName}}</h1>
        <hr>
        <h2> Current Shifts</h2><br>
            {% if shifts|length > 0 %}
                {% for i in shifts %}
                <strong>Day: </strong>{{shifts[i][0]}} <strong>Start: </strong>{{shifts[i][1]}}
                <strong>End: </strong>{{shifts[i][2]}} <strong>Number of People: </strong>{{shifts[i][3]}}
            {% endfor %}
            {% else %}
                <p> No current shifts for <strong>{{groupname}}</strong></p>
            {% endif %}
        <hr>
        <h2>Group Members</h2>
        {% for member in members: %}
        {{member}} <br>
        {% endfor %}

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>