<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Group Info </title>


    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="body">
    {% include 'header.html' %}
    <div class=" p-md-3">
        <div class="col-md-8 order-md-1 mx-auto">
            <h1 class="display-4 font-weight-normal">{{gName}} {% if notgroupintitle %} Group {% endif %} Members</h1>
            <hr>
            {% for member in members: %}
            {{member[0]}}: {{fullNames[member[0]]}} {% if member[1] == 'owner' %} <span class="text-muted">(owner)</span>
            {% elif member[1] == "manager" %}<span class="text-muted">(manager)</span> {% endif %}<br>
            {% endfor %}
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>