<!--This is for people to put in their weekly preferences-->

<!-- Main page after logging in, shows an employee's schedule for the week/month-->
<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Weekly Preferences </title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    {% include 'header.html' %}

    <h1>Weekly Preferences</h1><br>
    <p>Input your availability in your profile to get shifts assigned.<br>
        To be scheduled, you must be available for the entirety of a shift.<br>
    </p>

    {% include 'scheduleElement.html' %}
    <hr>
    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>